# Lines starting with '#' are considered comments.
# Ignore any file named foo.txt.
ITPRE.mdf
LogITPRE.ldf
.gitignore
# Ignore (generated) html files,
# *.html
IT-Pre/Files/
IT-Pre/Files/*
Files/
/Files/*
